---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Research Papers">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Research papers (I've Read) (WIP)"
      description="I like reading and implementing research papers around various topics that interests me and a big part of my current job also requires me to do the same. Todo: Add the most interesting reads till now."
    />
  </section>
</Layout>
