---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Talks">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Talks that I've given (WIP)"
      description="I like sharing my knowledge, whether in the form of blog posts or talks. Todo: Add PyCon talks."
    />
  </section>
</Layout>
